<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Oops! Pagina non trovata</title>
    <link rel="stylesheet" href="../static/css/404.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}"> -->
</head>
<body>

    <div class="wrapper">
        <div class="card">
            <h1>404</h1>
            <p>Purtroppo la pagina che stai cercando al momento non è raggiungibile o potrebbe non esistere.</p>
            <div class="media-container">
                <!-- Il contenuto di questo div verrà sostituito con una GIF casuale tramite JavaScript -->
                <img src="../static/gifs/gif7.webp" alt="Pagina non trovata" class="media">
            </div>
        </div>
    </div>
</body>
</html>