<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Oops! Pagina non trovata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}"> -->
</head>
<body>

    <div class="wrapper">
        <div class="card">
            <h1>404</h1>
            <p>Purtroppo la pagina che stai cercando al momento non è raggiungibile o potrebbe non esistere.</p>
            <div class="media-container">
                <video src="{{ url_for('static', filename='BRAZZALEE.mp4') }}" autoplay loop muted playsinline class="media"></video>
            </div>
            <a href="{{ url_for('home') }}" class="button">Torna alla home</a>
        </div>
    </div>
</body>
</html>